@import url('https://fonts.googleapis.com/css?family=Titillium+Web');
@import url('https://fonts.googleapis.com/css?family=Roboto');

body {background-color: #fff; color: #fff;
	font-family: "Roboto"; font-weight: 300;
	font-size: 14px; margin-top: 70px;
	letter-spacing: normal; -webkit-font-smoothing: antialiased;
	-webkit-overflow-scrolling: touch;	}

h1, h2, h3, h4, h5, h6 {font-family: "Helvetica"; font-weight: bold; color: #333;}

p {font-family: "Helvetica"; line-height: normal; margin-bottom: 25px; }

::selection {background: #fff2a8;}

.centered{text-align: center;}

a:hover, a:focus {color:#7b7b7b; text-decoration: none; outline: 0;}

hr {display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0;}

.navbar {font-weight: 800; font-size: 14px; padding-top: 15px; padding-bottom: 1px;}

.navbar-inverse {background: #5CCCCC;border-color: #009999;}

.navbar-inverse .navbar-nav > .active > a {background-color: #009999;}

.navbar-inverse .navbar-brand {font-family: "Titillium Web"; color: #fff; font-weight: bolder; font-size: 22px; letter-spacing: 1px;}

#headerwrap {
	background: url(../images/header.png) no-repeat center top;
	margin-top: -10px; 
	padding-top: 20px;
	background-attachment: fixed; 
	background-position: center center;
	min-height: 600px;
	width: 100%;
    background-size: 100%; 
    -webkit-background-size: cover;}

#headerwrap h1 {
	border-radius:10px;
	padding: 2px;
	background: rgba(255, 255, 255, 0.5);
	text-align: center;
	font-size: 16px;
	border: 1px solid black;	
}


#headerwrap p {
	border-radius:10px;
	padding: 2px;
	background: rgba(255, 255, 255, 0.4);
	text-align: left;
    letter-spacing: 0.1em;
    font-size: 12px;
    color: #000;
    display: block;
    margin-bottom: 35px;
    border: 1px solid black;
}

/*
#headerwrap img {
 -moz-transition: all 0.5s ease-out;
 -o-transition: all 0.5s ease-out;
 -webkit-transition: all 0.5s ease-out;
 }

#headerwrap img:hover{
 -webkit-transform: scale(2.1);
 -moz-transform: scale(2.1);
 -o-transform: scale(2.1);
 }
*/
#headerwrap table {text-align: left; color: black; border: 1px solid black;}
#headerwrap th,td,tr{border: 1px solid black;}
.transparent75 {filter: alpha(Opacity=85); /*Полупрозрачность*/opacity: 0.85;}
.Avtor, a {color: black;}


#f{background: #5CCCCC; }
#f i {color: #009999;  }
#f i:hover{color: #7b7b7b;}


#headerwrap input, ol, li,tr {
	color: black;
}
#headerwrap li {
	margin-left: 5%
}